$brand-primary: #00d664;
$white: rgb(249, 249, 249);
$blue: rgb(249, 249, 249);
$background: rgb(44, 48, 51);
$border-p: rgb(155, 160, 163);
$border-p-o2: rgba(155, 160, 163, 0.2);
$shadow: rgb(102, 102, 102);

$action: rgb(122, 161, 178);

$opacity: 0.2;
